#fh5co-header {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: center center;
}

.header-content {
    margin-top: -3em; /* Adjust this value as needed to position your header content correctly */
}

h1 {
    margin: 0;
    color: #fff;
    font-size: 48px;
    font-family: "Amsterdam", Arial, serif
}

.overlay {
    position: relative; /* If not already positioned */
    z-index: 1; /* Lower than the .display-tc */
}


.display-tc {
    position: relative;
    z-index: 2; /* Higher than the overlay */
}
