/* Center text within the caption */
.thumbnail .caption {
    text-align: center;
}

/* Round the corners of the thumbnail boxes */
div.thumbnail {
    border-radius: 10px; /* Adjust the radius as needed */
    background-color: transparent;
    overflow: hidden; /* Ensures the image follows the border radius */
    border: 5px solid #cb804d;
}

/* Additional styling for the name */
.thumbnail .caption h3 {
    margin-top: 10px; /* Adjust space above the name */
    margin-bottom: 5px; /* Adjust space below the name */
}

/* Styling for the paragraphs for consistent spacing */
.thumbnail .caption p {
    margin-bottom: 10px; /* Adjust bottom margin for paragraphs */
}

.wp-image
{
    padding-top: 20px;
}