/* Center text within the caption */
.thumbnail .caption {
    text-align: center;
}

/* Round the corners of the thumbnail boxes */
div.thumbnail {
    border-radius: 10px; /* Adjust the radius as needed */
    background-color: #FAF9F6 !important;/* Slightly opaque background for contrast */
    overflow: hidden; /* Ensures the image follows the border radius */
    border: 5px solid #9D442A ;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Larger blur and spread */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Additional styling for the name */
.thumbnail .caption h3 {
    margin-top: 10px; /* Adjust space above the name */
    margin-bottom: 5px; /* Adjust space below the name */
}

/* Styling for the paragraphs for consistent spacing */
.thumbnail .caption p {
    margin-bottom: 10px; /* Adjust bottom margin for paragraphs */
    color: #0c3c48;
    line-height: 1.6;
}

.wp-image
{
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
    br {
      display: none;
    }
  }
  